/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*  css start*/

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #424242;
    height: 300px;
}

.sum{
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
}
.sum label{
    font-size: 18px;
    color: #FFD366;
    margin-bottom: 5px;
}
.sum input{
    font-size: 24px;
    padding: 5px;
    margin-bottom: 1rem;
    background: none;
    border: #FFD366 1px solid;
    border-radius: 10px 10px 10px 10px ;
    color: white;
}

.content{
    text-align: center;
}
.content h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.bmilist{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bmilist li{
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    background: rgb(201, 200, 200);
    margin-bottom: 3rem;
    padding: 20px;
    border-left: 10px solid green;
}

.content a {
    text-decoration: none;
    font-size: 20px;
}
.content a:hover{
    color: red;
}
.footer{
    text-align: center;
    background: #FFD366;
}
.footer img{
    width: 55px;
    height: 55px;
    filter: contrast(0%);
}
.end{
    background: #FFD366;
    border-radius: 100%;
    text-decoration: none;
    color: black;
    padding:  50px 30px;
    font-size: 24px;
}